<section class="tabs">
  <ul>
  <% @site_tabs.each_with_index do |value, index| %>
    <a href="/<%= index %>">
      <% if @index == index %>
        <li data-id=<%= index %> class="selected">
      <% else %>
        <li data-id=<%= index %>>
      <% end %>
        <%= value %>
      </li>
    </a>
  <% end %>
  </ul>
</section>

<section id="main">
<h1><%= @html_val["url"] %></h1>
  <h2>Accessibility Validation</h2>
  <ul>
    <% if @access_val.nil? %>
      <h3>No Data</h3>
    <% else %>
      <% @access_val.each do |result| %>
        <li><h3><%= result['rule_category'] %></h3>
          <ul class="inner_list">
            <li><%= result['summary'] %></li>
            <li><%= result['wcag20'] %></li>
            <li><%= 'number of violations: ' +
                result['elements_violation'].to_s %></li>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
  <table>
    <thead>
      <h2>HTML Validation</h2>
      <tr>
        <th>Type</th>
        <th>Subtype</th>
        <th>Line Number</th>
        <th>Message</th>
        <th>Code Snippet</th>
      </tr>
    </thead>
    <tbody>
      <% @html_val['messages'].each do |message| %>
        <tr>
        <td><%= message['type'] %></td>
        <td><%= message['subType'] %></td>
        <td><%= message['lastLine'] %></td>
        <td><%= message['message'] %></td>
        <td><%= message['extract'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
