<section class="tabs">
  <ul>
  <% @site_tabs.each_with_index do |value, index| %>
    <a href="/<%= index %>">
      <% if @index == index %>
        <li data-id=<%= index %> class="selected">
      <% else %>
        <li data-id=<%= index %>>
      <% end %>
        <%= value %>
      </li>
    </a>
  <% end %>
  </ul>
</section>

<section id="main">
  <table id="accessibility">
    <thead>
    <h2>Accessibility Validation</h2>
    <tr>
      <th>Rule Category</th>
      <th>Summary</th>
      <th>WCAG rule</th>
      <th>Number of Violations</th>
    </tr>
    </thead>
    <tbody>
      <% @access_val.each do |result| %>
      <tr>
        <td><%= result['rule_category'] %></td>
        <td><%= result['summary'] %></td>
        <td><%= result['wcag20'] %></td>
        <td><%= result['elements_violation'] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table id="html">
    <thead>
      <h2>HTML Validation</h2>
      <tr>
        <th>Type</th>
        <th>Subtype</th>
        <th>Line Number</th>
        <th>Message</th>
        <th>Code Snippet</th>
      </tr>
    </thead>
    <tbody>
      <% @html_val['messages'].each do |message| %>
        <tr>
        <td><%= message['type'] %></td>
        <td><%= message['subType'] %></td>
        <td><%= message['lastLine'] %></td>
        <td><%= message['message'] %></td>
        <td><%= message['extract'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
