<section class="tabs">
  <ul>
  <% @site_tabs.each_with_index do |value, index| %>
    <li data-id=<%= index %>>
      <%= value %>
    </li>
  <% end %>
  </ul>
</section>

<section id="main">
<h1><%= @html_val["url"] %></h1>
  <h2>Accessibility Validation</h2>
  <ul>
    <% @access_val.each do |result| %>
      <li><h3><%= result['fields']['rule'][0] %></h3>
        <ul class="inner_list">
          <li><%= result['fields']['rule'][1] %></li>
          <li><%= result['fields']['rule'][3] %></li>
          <li><%= result['fields']['message'] %></li>
          <li><%= 'number of violations: ' +
              result['fields']['elements_violation'].to_s %></li>
        </ul>
      </li>
    <% end %>
  </ul>
  <table>
    <thead>
      <h2>HTML Validation</h2>
      <tr>
        <th>Type</th>
        <th>Subtype</th>
        <th>Line Number</th>
        <th>Message</th>
        <th>Code Snippet</th>
      </tr>
    </thead>
    <tbody>
      <% @html_val['messages'].each do |message| %>
        <tr>
        <td><%= message['type'] %></td>
        <td><%= message['subType'] %></td>
        <td><%= message['lastLine'] %></td>
        <td><%= message['message'] %></td>
        <td><%= message['extract'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
